In [21]:
import numpy as np
import pandas as pd

In [22]:
dv_16 = pd.read_csv('domestic_visitors/domestic_visitors_2016.csv')
dv_17 = pd.read_csv('domestic_visitors/domestic_visitors_2017.csv')
dv_18 = pd.read_csv('domestic_visitors/domestic_visitors_2018.csv')
dv_19 = pd.read_csv('domestic_visitors/domestic_visitors_2019.csv')

In [23]:
dv_16.head()

   district        date     month  year visitors
0  Adilabad  01-01-2016   January  2016   792136
1  Adilabad  01-02-2016  February  2016   937820
2  Adilabad  01-03-2016     March  2016   582946
3  Adilabad  01-04-2016     April  2016   341948
4  Adilabad  01-05-2016       May  2016   252887

In [24]:
domestic_visitors = pd.concat([dv_16, dv_17, dv_18, dv_19], ignore_index=True)

In [25]:
domestic_visitors.dtypes

district    object
date        object
month       object
year         int64
visitors    object
dtype: object

In [27]:
domestic_visitors.head()

   district        date     month  year visitors
0  Adilabad  01-01-2016   January  2016   792136
1  Adilabad  01-02-2016  February  2016   937820
2  Adilabad  01-03-2016     March  2016   582946
3  Adilabad  01-04-2016     April  2016   341948
4  Adilabad  01-05-2016       May  2016   252887

In [29]:
domestic_visitors['visitors'] = pd.to_numeric(domestic_visitors['visitors'], errors='coerce').astype('Int64')

In [30]:
domestic_visitors.dtypes

district    object
date        object
month       object
year         int64
visitors     Int64
dtype: object

In [31]:
domestic_visitors.isnull().sum()

district      0
date          0
month         0
year          0
visitors    345
dtype: int64

In [32]:
domestic_visitors['visitors'].fillna(int(domestic_visitors['visitors'].mean()), inplace=True)

In [33]:
domestic_visitors.isnull().sum()

district    0
date        0
month       0
year        0
visitors    0
dtype: int64

In [37]:
domestic_visitors.to_csv("Final_Dataset/domestic_visitors.csv", index=False)