In [2]:
import numpy as np
import pandas as pd

In [3]:
fv_16 = pd.read_csv('foreign_visitors/foreign_visitors_2016.csv')
fv_17 = pd.read_csv('foreign_visitors/foreign_visitors_2017.csv')
fv_18 = pd.read_csv('foreign_visitors/foreign_visitors_2018.csv')
fv_19 = pd.read_csv('foreign_visitors/foreign_visitors_2019.csv')

In [4]:
fv_16.head()

   district        date     month  year visitors
0  Adilabad  01-01-2016   January  2016        2
1  Adilabad  01-02-2016  February  2016        0
2  Adilabad  01-03-2016     March  2016        2
3  Adilabad  01-04-2016     April  2016        0
4  Adilabad  01-05-2016       May  2016        0

In [5]:
foreign_visitors = pd.concat([fv_16, fv_17, fv_18, fv_19], ignore_index=True)

In [6]:
foreign_visitors.dtypes

district    object
date        object
month       object
year         int64
visitors    object
dtype: object

In [7]:
foreign_visitors.head()

   district        date     month  year visitors
0  Adilabad  01-01-2016   January  2016        2
1  Adilabad  01-02-2016  February  2016        0
2  Adilabad  01-03-2016     March  2016        2
3  Adilabad  01-04-2016     April  2016        0
4  Adilabad  01-05-2016       May  2016        0

In [8]:
foreign_visitors['visitors'] = pd.to_numeric(foreign_visitors['visitors'], errors='coerce').astype('Int64')

In [9]:
foreign_visitors.dtypes

district    object
date        object
month       object
year         int64
visitors     Int64
dtype: object

In [10]:
foreign_visitors.isnull().sum()

district      0
date          0
month         0
year          0
visitors    320
dtype: int64

In [11]:
foreign_visitors['visitors'].fillna(int(foreign_visitors['visitors'].mean()), inplace=True)

In [12]:
foreign_visitors.isnull().sum()

district    0
date        0
month       0
year        0
visitors    0
dtype: int64

In [13]:
foreign_visitors.to_csv("Final_Dataset/foreign_visitors.csv", index=False)